<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>Servlet.ProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>Servlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubmitServlet</servlet-name>
        <servlet-class>Servlet.UpdateSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommenViewServlet</servlet-name>
        <servlet-class>Servlet.CommenViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>Servlet.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>Servlet.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCommentServlet</servlet-name>
        <servlet-class>Servlet.UpdateCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubmitCommentServlet</servlet-name>
        <servlet-class>Servlet.UpdateSubmitCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCommentSubmitServlet</servlet-name>
        <servlet-class>Servlet.AddCommentSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCommentServlet</servlet-name>
        <servlet-class>Servlet.addCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/ProcessServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubmitServlet</servlet-name>
        <url-pattern>/UpdateSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommenViewServlet</servlet-name>
        <url-pattern>/CommenViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCommentServlet</servlet-name>
        <url-pattern>/UpdateCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubmitCommentServlet</servlet-name>
        <url-pattern>/UpdateSubmitCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCommentSubmitServlet</servlet-name>
        <url-pattern>/AddCommentSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCommentServlet</servlet-name>
        <url-pattern>/addCommentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
</web-app>
